{% extends "layout.html"%}
{% block content %}
<form action="{{ url_for('calendar') }}" method="post">
    <script src ="script.js" defer></script>
</form>
<div class ="wrapper">
    <header>
    <form action="/calendar" method="post" enctype="multipart/form-data">
        {{month.month}}
        {{month.year}}
        <input type="submit"  value="Enter"></br>
    </form>
    </script>
   
    </header> 
    <div class="calendar">
        {{selectedmonth}}
        <ul class ="weeks">
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
            <li>Sun</li>

        </ul>
        <ul class ="days">
            {% for week in days%}
                {% for day in week %}
                    {% if day == 0 %}
                        <li class = 'inactive'>0</li> 
                    {% else %}
                        <li>{{day}}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
</div>
    </header>
{% endblock %}

"https://www.youtube.com/watch?v=Z1BGAivZRlE timestamp: 9:24"