{% extends "layout.html"%}
{% block content %}
{{msg}}</br>
<div class="calendar">
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
  <div class="day">
    a
  </div>
  <div class="day">
    b
  </div>
</div>
{% endblock %}
